.abc{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8QmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.txt{

    text-align: center;
    font-weight: 500;
    font-family: "Aeonik Pro";
    text-wrap: wrap;
    width: 50%
}

.icon{

    display: flex;
    justify-content: space-between;
    width: 500px;


}

.txt2{

    text-decoration: none;
    /* color: #fff; */
    width: 50px;
    height: 50px;
    background-color:;
    border-radius: 50%;
    font-weight: 800;
    font-family: gilroy;


}
.txt3{

    text-decoration: none;
    /* color: #fff; */
    font-weight: 800;
    font-family: gilroy;
    width: 50px;
    height: 50px;
    background-color:;
    border-radius: 50%;


}
.txt4{

    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color:;
    font-weight: 800;
    font-family: gilroy;
    border-radius: 50%;


}
.txt5{

    text-decoration: none;
    /* color: #fff; */
    width: 50px;
    height: 50px;
    background-color:;
    border-radius: 50%;
    font-weight: 800;
    font-family: gilroy;


}




